extends layout.pug 

mixin teamCard(team)
    .team-info-card
        .team-info-card-top
            .team-info-logo 
                img(src=`../../${team.logo}` width="100%")
            .team-info-info
                h1= team.name 
                hr
                h3= team.city + "  - Est. " + team.founded
                p= team.arena
                hr
                h3 Notable Players
                ol
                    for player in team.top_three_players    
                        li= player
                h3= "About The " + team.name
                p= team.description
        .team-info-card-bot 
            h1 learnHockey.com

block content 
    .team-info-main
        for singleteam in team
            +teamCard(singleteam)
    